html,
body {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
}

.header {
	display: flex;
	flex-direction: column;
	background-color: #f8f9fa;
}

.logo {
	height: 99px;
	width: 99px;
	align-self: center;
	padding: 1rem 0rem;
}

.nav__container {
	text-align: center;
	padding: 1rem 0rem 1rem;
}

.nav-link {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
	color: rgba(0, 0, 0, 0.9);
}

// start home page main styles !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.main__container {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-right: 3.5rem;
}

img {
	flex-direction: row;
	max-width: 100%;
	height: auto;
}

// end Our Story page main styles !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.footer {
	background-color: #343a40;
}

.footer__site-links {
	display: flex;
	justify-content: space-around;
	padding: 7rem 0rem 5rem;
}

.footer-link {
	color: #0099ff;
}

.footer-link:hover {
	color: #f8f9fa;
	text-decoration: none;
}

.footer__social-hash {
	color: #ced4da;
	text-transform: uppercase;
	text-align: center;
}

.footer__folow-links {
	color: #ced4da;
	text-align: center;
	padding: 0rem 0rem 7rem;
}
